@tailwind base;
@tailwind components;
@tailwind utilities;

/* Polices */
@font-face {
	font-family: 'Mina-Regular';
	src: url('/fonts/Mina-Regular.ttf') format('truetype');
}

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --blacky: #0a0a0a;
    --whity: #ededed;
  }
}

body {
  color: var(--blacky);
  background: var(--whity);
  font-family: Arial, Helvetica, sans-serif;
}
